/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection { 
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
  height: auto;
  max-width: 112%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,

body {
	font-family: 'Gentium Book Basic', serif;
	height: 100%;
	position: relative;
}

a {
	color: #FFFFFF;
}

a:hover { 
	text-decoration: none;
	color: #48C6EC;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.parallax-window {
	background: transparent;
}

.parallax_bg {	
	z-index: 2;
	position: relative;
	color: #FFFFFF;
} 

.header_area {
	z-index: 1001;
	text-align: center;
}

.header_text_area {
	position: relative;
	
}

.header_area {
	position: absolute;
	height: 100%; 
	top: 0;
	left: 0;
}

.slide_bg_1 {
	background: url(img/header_img/header_background.jpg);
}

.slide_bg_2 {
	background: url(img/review_img/background.jpg);
}

.header_text {
	padding: 100px 0;
}

.header_text h2 {
	background: url(img/header_img/header_design.png) no-repeat scroll 0 0;
	font-size: 50px;
	color: #fff;
	margin-bottom: 40px;
}


.main_menu ul.nav.navbar-nav {
    float: none;
    text-align: right;
	font-size: 20px;
}
.main_menu ul.nav.navbar-nav li {
    float: none;
    display: inline-block;    
}
.main_menu ul.nav.navbar-nav li a {
  color: #fff;
  padding: 40px 15px;
}

.main_menu ul.nav.navbar-nav li a:hover {
	background: none;
	color: #B8FB45;
}

.main_menu ul.nav.navbar-nav li.active::before {
    background: #c7c4bb none repeat scroll 0 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.header_text h2 {
    background-position: center bottom;
    color: #fff;
    font-size: 70px;
    padding-bottom: 75px;
}
.btn-filled {
    color: #fff;
    display: inline-block;
    margin: 0 5px;
    padding: 10px 30px;
	font-size: 20px;	
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}
.btn-filled::after {
    background: #232325 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
	border: 2px solid #1A1809;
}
.btn-filled.yellow-color-btn::after {
	background-color: #CFBD83;
	opacity: .7;
	border: 2px solid #D6D1BC;
}

.btn-filled:hover {
	color: #72F929;	
}

.social_links {
    color: #dab33e;
    position: absolute;
    right: 0;
    top: 35px;
}
.main_menu {
    padding-right: 65px;
    position: relative;
}
.social_links a {
    color: #dab33e;
    display: inline-block;
    font-size: 22px;
    padding-left: 5px;
}

.food_about {
  background: rgba(0, 0, 0, 0) url("img/plate_img/plate_background.png") no-repeat scroll 0 0 / cover ;
}

.about {
    margin-top: -2px;
}

.about h2 {
  margin-top: 80px;
}

.about p {
  font-size: 16px;
  margin-bottom: 50px;
  margin-left: 85px;
  width: 396px;
}

.about img {
  margin-bottom: 100px;
  margin-left: 80px;
}



.plate_img {
  margin-left: -75px;
  margin-top: 65px;
}


.igredients_text {
  color: #fff;
  font-size: 16px;
  margin-bottom: 80px;
  margin-top: 80px;
  padding: 30px;
  position: relative;
  z-index: 1;
}

.igredients_text::after, .reviews_list::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.52;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.igredients_text img {
    margin-left: 12px;
}


.igredients_text p {
    margin-bottom: 50px;
}

.food_menu_area {
  background: rgba(0, 0, 0, 0) url("img/food_menu_img/background.jpg") no-repeat scroll 0 0 / cover ;
  height: 100%;
  padding-bottom: 60px;
}

.food_heading {
  background: rgba(0, 0, 0, 0) url("img/section-pattern.png") no-repeat scroll center bottom;
  color: #cc9900;
  font-size: 36px;
  margin-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

.single_food_item {}

.single_food_item h2 {
  color: #c89f2d;
  font-size: 21px;
}

.single_food_item span {
  float: right;
}

.reviews {
	position: relative;
}

.reviews_list {
  color: #ffffff;
  font-size: 25px;
  padding: 50px;
  position: relative;
  z-index: 1;
  margin: 100px 0;
}

.reviews_list p.reviews_author {
	font-size: 18px;
	margin-top: 30px;
}

.reviews_list::before {
  content: url("img/quotation.png");
  left: 20px;
  position: absolute;
  top: 135px;
} 

.reservations_bg {
  background: rgba(0, 0, 0, 0) url("img/plate_img/plate_background.png") no-repeat scroll 0 0;
  height: 100%;
  padding: 100px 0;
}

.reservations_para.text-center {
    color: #4c4c4c;
    font-size: 16px;   
}

.reservations_para.text-center:last-child {
	padding-bottom: 20px;
}


.contact_form {
    margin-top: 50px;
}
label {
  color: #c9a131;
  font-size: 22px;
}

input {    
    height: 36px;
    margin-bottom: 30px;
    width: 200px;
	padding-left: 10px;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #7c7c7c;
	font-size: 10px;	
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #7c7c7c;
   opacity:  1;
   font-size: 10px;   
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #7c7c7c;
   opacity:  1;   
   font-style: italic;
         
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #7c7c7c;
   font-size: 10px;   
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #7c7c7c;
   font-size: 10px;   
}

::placeholder { /* Most modern browsers support this now. */
   color:    #7c7c7c;
   font-size: 10px;   
}

select:required:invalid {	
  color: #7c7c7c; 	
  font-style: italic;
  padding-left: 10px;
  
}

option[value=""][disabled] {
  display: none;
  font-weight: 700;
}

option {
  color: #000000;  
}

.button {
  background: #c9a131 none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  width: 170px;
}


.footer_area {
  background: #000 none repeat scroll 0 0;
  color: #e9e9e9;
  height: 100%;
  padding-bottom: 70px;
  padding-top: 60px;
}
.section-title.white-section-title_footer{
    text-align: center;
    color: #fefefe;	
    padding-bottom: 35px;
    margin-bottom: 30px;
    background: rgba(0,0,0,0) url(img/footer_design.png)no-repeat center bottom;
	font-size: 21px;
}

.about_us p {
  color: #ffffff;
  font-size: 16px;  
}

.opening_hour p {
    font-size: 15px;
    margin-bottom: 50px;
}

.icons {
  font-size: 21px;
}

.icons i {
    margin-left: 10px;
}


.location p {
    font-size: 15px;
    margin-bottom: 50px;
}
.social_icons i {
    font-size: 20px;
    margin-left: 10px;
}


.section-title {
    text-align: center;
    color: #cc9900;
    padding-bottom: 35px;
    margin-bottom: 30px;
    background: rgba(0,0,0,0) url(img/section-pattern.png)no-repeat center bottom;
}

.section-title.white-section-title {
    background: rgba(0,0,0,0) url(img/restaurant.png)no-repeat center bottom;
    color: #fff;
}


hr {
    background: #cc9900 none repeat scroll 0 0;
    opacity: 0.5;
	width: 100%;
}

.single_food_item p {
  color: #4c4c4c;
  font-size: 16px;
}

.border_special {
  border: 1px solid #d5b867;
  margin-bottom: 20px;
  margin-top: 32px;
  padding: 10px;
}

.border_special::before {
  background: #d5b867 none repeat scroll 0 0;
  color: #ffffff;
  content: "Special";
  float: right;
  font-size: 15px;
  height: 20px;
  margin-right: -11px;
  margin-top: -31px;
  text-align: center;
  width: 75px;
}

.section-padding { padding: 80px 0px }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.slicknav_menu {
	display: none;
}